@import url("./global.css");

/*Main styles*/
body {
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1,
h2 {
    color: var(--sec-text-color);
}

ul {
    padding-left: 20px;
    line-height: 1.6;
}

li {
    color: var(--text-color);
}

.aside-photo>img {
    border-radius: 80px 0px;
}

.top {
    text-align: center;
}

.summ {
    height: 300px;
    width: 700px;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    color: var(--sec-text-color);
}

/*Aside photo*/
.aside-photo {
    float: right;
    margin-right: 100px;
    margin-top: -350px;

}

.aside-photo>img {
    width: 400px;
    height: 400px;

}


/*About us*/
details {
    margin: 10px 0;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(244, 232, 193, 0.6);
}

summary {
    cursor: pointer;

}


.mis,
.vis,
.who {
    font-size: 20px;
    color: var(--text-color);
    text-align: justify;
    font-weight: 450;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 1;
}

details:hover {
    transition: background-color 0.4s ease;
    box-shadow: 0 0 10px rgba(244, 232, 193, 1);
}

details[open] .mis,
details[open] .vis,
details[open] .who {
    max-height: 1000px;
    opacity: 1;
}

/*Services*/

.services {
    max-width: 100%;
    margin-top: 300px;
    padding: 20px;
    background-color: rgba(244, 232, 193, 0.6);
}

.services h2 {

    color: var(--sec-text-color);
}



/* MEDIAS QUERIES*/
@media (max-width: 1300px) and (min-width: 300px) {
    .aside-photo {
        float: none;
        margin: 20px auto 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .aside-photo>img {
        width: 90vw;
        height: auto;
        max-width: 300px;
    }
}

@media (max-width: 810px) and (min-width: 300px) {
    .summ {
        width: 95vw;
        margin-left: 2vw;
        font-size: 18px;
        height: auto;
        margin-top: 30px;
    }


    .services {
        margin-top: 30px;
        padding: 10px;
    }
}

@media (max-width: 350px) {
    .summ {
        width: 98vw;
        font-size: 14px;
    }

    .aside-photo>img {
        max-width: 200px;
    }

    .services {
        padding: 2px;
    }
}